In [2]:
import datetime

In [4]:
datetime.date(20200701)

TypeError: function missing required argument 'month' (pos 2)

In [7]:
datetime.datetime.strptime("20200701", '%Y%m%d')

datetime.datetime(2020, 7, 1, 0, 0)

In [11]:
import pandas as pd
import requests

BASE_URL = "https://api.nb.no/ngram/db2"
BASE_URL1 = "https://api.nb.no/ngram/db1"

In [12]:
def ngram_periodicals(word = ['.'], title = None, period = None, publisher = None, lang=None, city = None, ddk = None, topic = None):
    """Get a time series for a word as string, title is name of periodical period is (year, year), lang is three letter iso code.
    Use % as wildcard where appropriate - no wildcards in word and lang"""
    params = locals()
    if isinstance(word, str):
        # assume a comma separated string
        word = [w.strip() for w in word.split(',')]
    params['word'] = tuple(word)
    params = {x:params[x] for x in params if not params[x] is None}
    r = requests.post(BASE_URL1 + "/ngram_periodicals", json = params)
    #print(r.status_code)
    df = pd.DataFrame.from_dict(r.json(), orient = 'index')
    df.index = df.index.map(lambda x: tuple(x.split()))
    columns = df.index.levels[0]
    df = pd.concat([df.loc[x] for x in columns], axis = 1)
    df.columns = columns 
    #df.index = df.index.map(pd.Timestamp)
    return df

In [16]:
ngram_periodicals(word = ['hans', 'hennes', 'vårt'], period=(1100, 2020))

       hans  hennes    vårt
1764    154     NaN     NaN
1792    139     NaN     NaN
1793    112     NaN     NaN
1794     58     NaN     NaN
1795     71     NaN     NaN
...     ...     ...     ...
2016  10437  2605.0  2512.0
2017   5465  1306.0  1285.0
2018   1478   449.0   469.0
2019    802   300.0   218.0
2020    719   181.0   114.0

[218 rows x 3 columns]