In [2]:
import datetime

In [4]:
datetime.date(20200701)

TypeError: function missing required argument 'month' (pos 2)

In [7]:
datetime.datetime.strptime("20200701", '%Y%m%d')

datetime.datetime(2020, 7, 1, 0, 0)

In [11]:
import pandas as pd
import requests

BASE_URL = "https://api.nb.no/ngram/db2"
BASE_URL1 = "https://api.nb.no/ngram/db1"

In [12]:
def ngram_periodicals(word = ['.'], title = None, period = None, publisher = None, lang=None, city = None, ddk = None, topic = None):
    """Get a time series for a word as string, title is name of periodical period is (year, year), lang is three letter iso code.
    Use % as wildcard where appropriate - no wildcards in word and lang"""
    params = locals()
    if isinstance(word, str):
        # assume a comma separated string
        word = [w.strip() for w in word.split(',')]
    params['word'] = tuple(word)
    params = {x:params[x] for x in params if not params[x] is None}
    r = requests.post(BASE_URL1 + "/ngram_periodicals", json = params)
    #print(r.status_code)
    df = pd.DataFrame.from_dict(r.json(), orient = 'index')
    df.index = df.index.map(lambda x: tuple(x.split()))
    columns = df.index.levels[0]
    df = pd.concat([df.loc[x] for x in columns], axis = 1)
    df.columns = columns 
    #df.index = df.index.map(pd.Timestamp)
    return df

In [15]:
ngram_periodicals(word = ['hans', 'hennes', 'vårt'])

       hans  hennes  vårt
1950  15534    2438  5727
1951  17487    2562  5512
1952  19537    4017  5646
1953  20237    4068  7489
1954  19543    4293  5688
1955  20789    5029  6317
1956  21349    4970  6158
1957  20778    4406  6167
1958  22305    4778  7027
1959  21196    4985  6380
1960  20941    5003  6414
1961  21039    4087  6609
1962  19931    3454  6709
1963  18096    3180  6127
1964  21425    4291  7406
1965  22626    4642  7815
1966  21037    4487  7275
1967  22706    4847  8358
1968  19266    3889  7740
1969  17855    2991  8091
1970  21774    3952  8327
1971  18722    2664  7300
1972  20570    3553  7632
1973  19035    3222  6867
1974  15874    3090  6424
1975  16554    3299  7040
1976  17881    4015  7376
1977  17955    3957  6955
1978  17927    4222  7134
1979  19032    3977  7496
1980  18090    4196  7421
1981  16225    3266  7349
1982  16513    3766  6873
1983  16304    3297  7100
1984  17295    3715  7491
1985  14335    2989  6676
1986  16379    3509  6985
1987  17401    3603  7224
1988  17194    3985  7360
1989  16163    3569  7273
1990  17443    4022  7224